@import "tailwindcss";



/* ---------------------------------------------------
   Default Styles (Mobile Phones Portrait)
   Applies to screen widths from 0px up to 575px 
--------------------------------------------------- */
* {
  --text-color: #ffffff;
  --foreground: #171717;
  --primary: #000066;
  --secondary: #ffff99;
  ---background: #FFFF99;
}
body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: var(--text-color);
}
.hamburger {
  display: none;
  font-size: 3.5rem;
  color: var(--text-color);
  padding-right: 20px;
}
.new-opportunities {
  font-size: 12px;
  width: 200px;
  text-align: center;
  border: 1px solid var(--secondary);
  border-radius: 10px;
  padding: 3px;
  margin: auto;
}
/* Small Devices (Landscape Phones & Small Tablets) */
@media (min-width: 576px) {
  /* Styles for screens 576px and wider */
}

/* Medium Devices (Tablets) */
@media (min-width: 768px) {
  /* Styles for screens 768px and wider */
}

/* Large Devices (Desktops / Laptops) */
@media (min-width: 992px) {
  /* Styles for screens 992px and wider */
}

/* Extra Large Devices (Large Monitors) */
@media (min-width: 1200px) {
  /* Styles for screens 1200px and wider */
}




/* @media (max-width: 768px) {
  body {
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
  }

  .hamburger {
    display: block;
    font-size: 3.5rem;
    color: var(--text-color);
    padding-right: 20px;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav,
  .lets-talk {
    display: none;
  }

  .hi,
  .about-me-title {
    width: 300px;
    margin: auto;
  }
  .about-me-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .about-me,
  .about-me-description {
    width: 300px;
    margin: auto;
  }
} */
